#site-wrapper {
  background: pink;
  height: 1000px; /* Arbitrary. */
  overflow: hidden;  
}

#site-canvas {
  background: tan;
  height: 100%;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#site-menu {
  background: yellow;
  width: 250px;
  height: 100%;
  position: absolute;
  left: -250px;
  padding: 15px;
}

#site-wrapper.show-nav #site-canvas {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}
